<div class="column is-6 is-offset-3 centered-text">
    <div class="is-size-2">
        Manage Invitations for <%= @event.name %>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-vertical box m-5 is-12">
            <div class="tile is-parent">
                <div class="tile is-child centered-text is-12 box">
                    <div class="title is-size-4">
                        Select Users to Invite
                    </div>
                    <div id="user-invite">
                        <% count = 1 %>
                        <% @uninvited_users.each do |uninvited_user| %>
                            <% if uninvited_user.id != current_user.id %>
                                <% if count == 1 %>
                                    <div class="tile is-parent">
                                <% end %>
                                    <div class="tile is-child box is-4">
                                        <div class="title is-size-5"><%= uninvited_user.full_name%></div>
                                        <%= link_to "Send Invite",  invites_path(user_id: uninvited_user,  event_id: @event), method: :post, class: "button is-outlined is-info is-small" %>
                                    </div>
                                <% if count%3 == 0 %>
                                    </div>
                                    <% count = 1 %>
                                <% else %>
                                    <% count+=1 %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>