<div class="column is-6 is-offset-3 centered-text">
    <div class="is-size-2">
        Manage Invitations for <%= @event.name %>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-vertical box m-5 is-12">
            <div class="tile is-parent">
                <div class="tile is-child centered-text is-12 box">
                    <div class="title is-size-4">
                        Select Users to Invite
                    </div>
                    <div id="user-invite-form">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>