<div class="columns">
    <div class="column is-12">
        <div class="tabs is-centered is-toggle m-5" id="user-tabs">
            <ul>
                <li class="is-active" data-tab="1">
                    <a>
                        <span>My Events</span>
                    </a>
                </li>

                <li data-tab="2">
                    <a>
                        <span>Invites</span>
                    </a>
                </li>

                <li data-tab="3">
                    <a>
                        <span>Created Events</span>
                    </a>
                </li>
            </ul>
        </div>

        <div id="user-tab-content" class="column is-8 is-offset-2 box">
            <div id="my-events-tab" data-content="1" class="is-active">
                My Events
            </div>
            <div id="my-invites-tab" data-content="2">
                My Invites
            </div>
            <div id="my-created-tab" data-content="3">
                My Created 
            </div>
        </div>

        <!--<h3 class="is-size-4 is-underlined has-text-weight-semibold">My Created Events</h3>
        <br />
        
        <br/>
        <% render 'events/events_feed', event: @event %>-->
    </div>
</div>
