<div class="columns">
    <div class="column is-10 is-offset-1 centered-text">
        <div class="media-center">
            <h3 class="is-size-2 is-underlined has-text-weight-semibold">My Created Events</h3>
            <br />
            <%= link_to "Create New Event", new_event_path, class: "button is-light is-tex-weight-semi-bold"%>
            <br/>
            <%= render 'events/events_feed', event: @event %>
        </div>
    </div>
</div>
